@media (max-width: 767px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }

    .top{
        height: 735px;

        &__section{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__text-block{
            width: 343px;
            height: 77px
        }

        &__text-block_text{
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &__subtop-block{
            width: 343px;

            &_text-discription{
                color: #FFF;
                text-align: center;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 22px;
            }
        }

            
    }

    .product__game_box{
        width: 100%;
    }


}