@media (max-width: 767px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }

    .top{
        height: 735px;

        &__section{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__text-block{
            width: 343px;
            height: 77px
        }

        &__text-block-text{
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &__subtop-block{
            width: 343px;

            &_text-discription{
                color: #FFF;
                text-align: center;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 22px;
            }
        }

            
    }

    .product__game-box{
        width: 100%;
    }

    .game1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }

    .game1__block-content{
        
        margin-top: 178px;
        margin-bottom: 0px;
        align-items: center;
        width: 343px;

        &-header{
            font-family: Montserrat;
            font-weight: 700;
            font-size: 32px;
        }

        &-text{
            font-family: Montserrat;
            font-weight:  300;
            font-size: 14px;
            text-align: center;
            
        }
        
        &-picture{
            margin-top: 0px;
            margin-bottom: 51px;
        }
    }
    
    .game1__picture{
        width: 100%;
       } 
}